<!DOCTYPE html>
<html>
<head>
        <title>Welcome!</title>
</head>
<body>

<h1>MN Job Application</h1>

<p>Interested parties, please fill out the following application:</p>

<form action="/application" method="GET">
    <label>What's your first name? <input type="text" name="firstname">
    </label><br>
    <label>What's your last name? <input type="text" name="lastname">
    </label><br>
    <label>What is your salary requirement? <input type="text" name="salary">
    </label><br>
    <label>Which job are you applying for?<select name= "job">
        <option>Software Engineer</option>
        <option>QA Engineer</option>
        <option>Product Manager</option>
    </select>
    <label>
    <br>
    <input type="submit">
</form>

</body>
</html>